/**********************HMTL TAG SELECTORS**********************/
body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  color: #66BFBF;
  font-family: 'Sacramento', cursive;
  font-size: 5rem;
  margin: 50px auto 0 auto;

}

h2 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;

}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin-top: 0;

}

a {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 0 15px;
  text-decoration: none;

}
a:hover {
  color: #EAF6F6;
}


hr {
  border-style: dotted none none;
  border-width: 6px;
  color: #D3D3D3;
  margin: 50px auto;
  width: 4%;
}

p {
  line-height: 2;
}

/**********************CLASS SELECTORS**********************/

.top-container {
  background-color: #EAF6F6;
  position: relative;
  padding-top: 100px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.intro {
  width: 35%;
  margin: auto;
}

.middle-container {
  margin: 100px 0;
}
.skill-row {
  margin: 50px auto 50px auto;
  text-align: left;
  width: 50%
}

.code-img {
  width: 25%;
  margin-right: 30px;
  float: left;
}

.cat-img {
  margin-left: 30px;
  float: right;
}

.btn {
  -moz-box-shadow: 0 10px 14px -7px #276873;
  -webkit-box-shadow: 0 10px 14px -7px #276873;
  box-shadow: 0 10px 14px -7px #276873;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0fc4ca), color-stop(1, #0f9ea3));
	background:-moz-linear-gradient(top, #0fc4ca 5%, #0f9ea3 100%);
	background:-webkit-linear-gradient(top, #0fc4ca 5%, #0f9ea3 100%);
	background:-o-linear-gradient(top, #0fc4ca 5%, #0f9ea3 100%);
	background:-ms-linear-gradient(top, #0fc4ca 5%, #0f9ea3 100%);
	background:linear-gradient(to bottom, #0fc4ca 5%, #0f9ea3 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0fc4ca', endColorstr='#0f9ea3',GradientType=0);
	background-color:#0fc4ca;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
  font-family: 'Montserrat', sans-serif;
	font-size:20px;
	padding:13px 32px;
	text-decoration:none;
	text-shadow:0 1px 0 #3d768a;
}
.btn:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0f9ea3), color-stop(1, #0fc4ca));
	background:-moz-linear-gradient(top, #0f9ea3 5%, #0fc4ca 100%);
	background:-webkit-linear-gradient(top, #0f9ea3 5%, #0fc4ca 100%);
	background:-o-linear-gradient(top, #0f9ea3 5%, #0fc4ca 100%);
	background:-ms-linear-gradient(top, #0f9ea3 5%, #0fc4ca 100%);
	background:linear-gradient(to bottom, #0f9ea3 5%, #0fc4ca 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0f9ea3', endColorstr='#0fc4ca',GradientType=0);
	background-color:#0f9ea3;
}
.btn:active {
	position:relative;
	top:1px;
}

.footer-container {
  display: block;
  background-color: #65BFBF;
  padding-top: 50px;
  padding-bottom: 20px;
}

.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
}
